{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://mturk-requester.amazonaws.com/"
        },
        {
            "url": "http://mturk-requester.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Mechanical Turk API Reference</fullname>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Mechanical Turk",
        "version": "2017-01-17",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mturk-requester-2017-01-17.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "mturk-requester"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/mturk-requester/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> The <code>AcceptQualificationRequest</code> operation approves a Worker's request for a Qualification. </p> <p> Only the owner of the Qualification type can grant a Qualification request for that type. </p> <p> A successful request for the <code>AcceptQualificationRequest</code> operation returns with no errors and an empty body. </p>",
                "operationId": "AcceptQualificationRequest",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "IntegerValue": {
                                        "description": " The value of the Qualification. You can omit this value if you are using the presence or absence of the Qualification as the basis for a HIT requirement. ",
                                        "type": "integer"
                                    },
                                    "QualificationRequestId": {
                                        "description": "The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "QualificationRequestId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ApproveAssignment": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> The <code>ApproveAssignment</code> operation approves the results of a completed assignment. </p> <p> Approving an assignment initiates two payments from the Requester's Amazon.com account </p> <ul> <li> <p> The Worker who submitted the results is paid the reward specified in the HIT. </p> </li> <li> <p> Amazon Mechanical Turk fees are debited. </p> </li> </ul> <p> If the Requester's account does not have adequate funds for these payments, the call to ApproveAssignment returns an exception, and the approval is not processed. You can include an optional feedback message with the approval, which the Worker can see in the Status section of the web site. </p> <p> You can also call this operation for assignments that were previous rejected and approve them by explicitly overriding the previous rejection. This only works on rejected assignments that were submitted within the previous 30 days and only if the assignment's related HIT has not been deleted. </p>",
                "operationId": "ApproveAssignment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AssignmentId": {
                                        "description": " The ID of the assignment. The assignment must correspond to a HIT created by the Requester. ",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[A-Z0-9]+$",
                                        "type": "string"
                                    },
                                    "OverrideRejection": {
                                        "description": " A flag indicating that an assignment should be approved even if it was previously rejected. Defaults to <code>False</code>. ",
                                        "type": "boolean"
                                    },
                                    "RequesterFeedback": {
                                        "description": " A message for the Worker, which the Worker can see in the Status section of the web site. ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AssignmentId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateQualificationWithWorker": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> The <code>AssociateQualificationWithWorker</code> operation gives a Worker a Qualification. <code>AssociateQualificationWithWorker</code> does not require that the Worker submit a Qualification request. It gives the Qualification directly to the Worker. </p> <p> You can only assign a Qualification of a Qualification type that you created (using the <code>CreateQualificationType</code> operation). </p> <note> <p> Note: <code>AssociateQualificationWithWorker</code> does not affect any pending Qualification requests for the Qualification by the Worker. If you assign a Qualification to a Worker, then later grant a Qualification request made by the Worker, the granting of the request may modify the Qualification score. To resolve a pending Qualification request without affecting the Qualification the Worker already has, reject the request with the <code>RejectQualificationRequest</code> operation. </p> </note>",
                "operationId": "AssociateQualificationWithWorker",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "IntegerValue": {
                                        "description": "The value of the Qualification to assign.",
                                        "type": "integer"
                                    },
                                    "QualificationTypeId": {
                                        "description": "The ID of the Qualification type to use for the assigned Qualification.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[A-Z0-9]+$",
                                        "type": "string"
                                    },
                                    "SendNotification": {
                                        "description": " Specifies whether to send a notification email message to the Worker saying that the qualification was assigned to the Worker. Note: this is true by default. ",
                                        "type": "boolean"
                                    },
                                    "WorkerId": {
                                        "description": " The ID of the Worker to whom the Qualification is being assigned. Worker IDs are included with submitted HIT assignments and Qualification requests. ",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^A[A-Z0-9]+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "QualificationTypeId",
                                    "WorkerId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateAdditionalAssignmentsForHIT": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> The <code>CreateAdditionalAssignmentsForHIT</code> operation increases the maximum number of assignments of an existing HIT. </p> <p> To extend the maximum number of assignments, specify the number of additional assignments.</p> <note> <ul> <li> <p>HITs created with fewer than 10 assignments cannot be extended to have 10 or more assignments. Attempting to add assignments in a way that brings the total number of assignments for a HIT from fewer than 10 assignments to 10 or more assignments will result in an <code>AWS.MechanicalTurk.InvalidMaximumAssignmentsIncrease</code> exception.</p> </li> <li> <p>HITs that were created before July 22, 2015 cannot be extended. Attempting to extend HITs that were created before July 22, 2015 will result in an <code>AWS.MechanicalTurk.HITTooOldForExtension</code> exception. </p> </li> </ul> </note>",
                "operationId": "CreateAdditionalAssignmentsForHIT",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "HITId": {
                                        "description": "The ID of the HIT to extend.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[A-Z0-9]+$",
                                        "type": "string"
                                    },
                                    "NumberOfAdditionalAssignments": {
                                        "description": "The number of additional assignments to request for this HIT.",
                                        "type": "integer"
                                    },
                                    "UniqueRequestToken": {
                                        "description": " A unique identifier for this request, which allows you to retry the call on error without extending the HIT multiple times. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the extend HIT already exists in the system from a previous call using the same <code>UniqueRequestToken</code>, subsequent calls will return an error with a message containing the request ID. ",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "HITId",
                                    "NumberOfAdditionalAssignments"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateHIT": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>The <code>CreateHIT</code> operation creates a new Human Intelligence Task (HIT). The new HIT is made available for Workers to find and accept on the Amazon Mechanical Turk website. </p> <p> This operation allows you to specify a new HIT by passing in values for the properties of the HIT, such as its title, reward amount and number of assignments. When you pass these values to <code>CreateHIT</code>, a new HIT is created for you, with a new <code>HITTypeID</code>. The HITTypeID can be used to create additional HITs in the future without needing to specify common parameters such as the title, description and reward amount each time.</p> <p> An alternative way to create HITs is to first generate a HITTypeID using the <code>CreateHITType</code> operation and then call the <code>CreateHITWithHITType</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs. </p> <p>CreateHIT also supports several ways to provide question data: by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>. </p> <note> <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see <a href=\"https://requester.mturk.com/pricing\">Amazon Mechanical Turk Pricing</a>.</p> </note>",
                "operationId": "CreateHIT",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "HIT": {
                                            "description": " Contains the newly created HIT data. For a description of the HIT data structure as it appears in responses, see the HIT Data Structure documentation. ",
                                            "properties": {
                                                "AssignmentDurationInSeconds": {
                                                    "description": " The length of time, in seconds, that a Worker has to complete the HIT after accepting it.",
                                                    "type": "integer"
                                                },
                                                "AutoApprovalDelayInSeconds": {
                                                    "description": "The amount of time, in seconds, after the Worker submits an assignment for the HIT that the results are automatically approved by Amazon Mechanical Turk. This is the amount of time the Requester has to reject an assignment submitted by a Worker before the assignment is auto-approved and the Worker is paid. ",
                                                    "type": "integer"
                                                },
                                                "CreationTime": {
                                                    "description": " The date and time the HIT was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": " A general description of the HIT.",
                                                    "type": "string"
                                                },
                                                "Expiration": {
                                                    "description": "The date and time the HIT expires.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "HITGroupId": {
                                                    "description": " The ID of the HIT Group of this HIT.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "^[A-Z0-9]+$",
                                                    "type": "string"
                                                },
                                                "HITId": {
                                                    "description": " A unique identifier for the HIT.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "^[A-Z0-9]+$",
                                                    "type": "string"
                                                },
                                                "HITLayoutId": {
                                                    "description": " The ID of the HIT Layout of this HIT.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "^[A-Z0-9]+$",
                                                    "type": "string"
                                                },
                                                "HITReviewStatus": {
                                                    "description": " Indicates the review status of the HIT. Valid Values are NotReviewed | MarkedForReview | ReviewedAppropriate | ReviewedInappropriate.",
                                                    "enum": [
                                                        "NotReviewed",
                                                        "MarkedForReview",
                                                        "ReviewedAppropriate",
                                                        "ReviewedInappropriate"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HITStatus": {
                                                    "description": "The status of the HIT and its assignments. Valid Values are Assignable | Unassignable | Reviewable | Reviewing | Disposed. ",
                                                    "enum": [
                                                        "Assignable",
                                                        "Unassignable",
                                                        "Reviewable",
                                                        "Reviewing",
                                                        "Disposed"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HITTypeId": {
                                                    "description": "The ID of the HIT type of this HIT",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "pattern": "^[A-Z0-9]+$",
                                                    "type": "string"
                                                },
                                                "Keywords": {
                                                    "description": " One or more words or phrases that describe the HIT, separated by commas. Search terms similar to the keywords of a HIT are more likely to have the HIT in the search results.",
                                                    "type": "string"
                                                },
                                                "MaxAssignments": {
                                                    "description": "The number of times the HIT can be accepted and completed before the HIT becomes unavailable. ",
                                                    "type": "integer"
                                                },
                                                "NumberOfAssignmentsAvailable": {
                                                    "description": " The number of assignments for this HIT that are available for Workers to accept.",
                                                    "type": "integer"
                                                },
                                                "NumberOfAssignmentsCompleted": {
                                                    "description": " The number of assignments for this HIT that have been approved or rejected.",
                                                    "type": "integer"
                                                },
                                                "NumberOfAssignmentsPending": {
                                                    "description": " The number of assignments for this HIT that are being previewed or have been accepted by Workers, but have not yet been submitted, returned, or abandoned.",
                                                    "type": "integer"
                                                },
                                                "QualificationRequirements": {
                                                    "description": " Conditions that a Worker's Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met in order for a Worker to accept the HIT. Additionally, other actions can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code> structure. ",
                                                    "items": {
                                                        "description": " The QualificationRequirement data structure describes a Qualification that a Worker must have before the Worker is allowed to accept a HIT. A requirement may optionally state that a Worker must have the Qualification in order to preview the HIT, or see the HIT in search results. ",
                                                        "properties": {
                                                            "ActionsGuarded": {
                                                                "description": " Setting this attribute prevents Workers whose Qualifications do not meet this QualificationRequirement from taking the specified action. Valid arguments include \"Accept\" (Worker cannot accept the HIT, but can preview the HIT and see it in their search results), \"PreviewAndAccept\" (Worker cannot accept or preview the HIT, but can see the HIT in their search results), and \"DiscoverPreviewAndAccept\" (Worker cannot accept, preview, or see the HIT in their search results). It's possible for you to create a HIT with multiple QualificationRequirements (which can have different values for the ActionGuarded attribute). In this case, the Worker is only permitted to perform an action when they have met all QualificationRequirements guarding the action. The actions in the order of least restrictive to most restrictive are Discover, Preview and Accept. For example, if a Worker meets all QualificationRequirements that are set to DiscoverPreviewAndAccept, but do not meet all requirements that are set with PreviewAndAccept, then the Worker will be able to Discover, i.e. see the HIT in their search result, but will not be able to Preview or Accept the HIT. ActionsGuarded should not be used in combination with the <code>RequiredToPreview</code> field. ",
                                                                "enum": [
                                                                    "Accept",
                                                                    "PreviewAndAccept",
                                                                    "DiscoverPreviewAndAccept"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Comparator": {
                                                                "description": "The kind of comparison to make against a Qualification's value. You can compare a Qualification's value to an IntegerValue to see if it is LessThan, LessThanOrEqualTo, GreaterThan, GreaterThanOrEqualTo, EqualTo, or NotEqualTo the IntegerValue. You can compare it to a LocaleValue to see if it is EqualTo, or NotEqualTo the LocaleValue. You can check to see if the value is In or NotIn a set of IntegerValue or LocaleValue values. Lastly, a Qualification requirement can also test if a Qualification Exists or DoesNotExist in the user's profile, regardless of its value. ",
                                                                "enum": [
                                                                    "LessThan",
                                                                    "LessThanOrEqualTo",
                                                                    "GreaterThan",
                                                                    "GreaterThanOrEqualTo",
                                                                    "EqualTo",
                                                                    "NotEqualTo",
                                                                    "Exists",
                                                                    "DoesNotExist",
                                                                    "In",
                                                                    "NotIn"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "IntegerValues": {
                                                                "description": " The integer value to compare against the Qualification's value. IntegerValue must not be present if Comparator is Exists or DoesNotExist. IntegerValue can only be used if the Qualification type has an integer value; it cannot be used with the Worker_Locale QualificationType ID. When performing a set comparison by using the In or the NotIn comparator, you can use up to 15 IntegerValue elements in a QualificationRequirement data structure. ",
                                                                "items": {
                                                                    "type": "integer"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "LocaleValues": {
                                                                "description": " The locale value to compare against the Qualification's value. The local value must be a valid ISO 3166 country code or supports ISO 3166-2 subdivisions. LocaleValue can only be used with a Worker_Locale QualificationType ID. LocaleValue can only be used with the EqualTo, NotEqualTo, In, and NotIn comparators. You must only use a single LocaleValue element when using the EqualTo or NotEqualTo comparators. When performing a set comparison by using the In or the NotIn comparator, you can use up to 30 LocaleValue elements in a QualificationRequirement data structure. ",
                                                                "items": {
                                                                    "description": "The Locale data structure represents a geographical region or location.",
                                                                    "properties": {
                                                                        "Country": {
                                                                            "description": " The country of the locale. Must be a valid ISO 3166 country code. For example, the code US refers to the United States of America. ",
                                                                            "maxLength": 2,
                                                                            "minLength": 2,
                                                                            "type": "string"
                                                                        },
                                                                        "Subdivision": {
                                                                            "description": "The state or subdivision of the locale. A valid ISO 3166-2 subdivision code. For example, the code WA refers to the state of Washington.",
                                                                            "maxLength": 2,
                                                                            "minLength": 2,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Country"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "QualificationTypeId": {
                                                                "description": " The ID of the Qualification type for the requirement.",
                                                                "type": "string"
                                                            },
                                                            "RequiredToPreview": {
                                                                "description": " DEPRECATED: Use the <code>ActionsGuarded</code> field instead. If RequiredToPreview is true, the question data for the HIT will not be shown when a Worker whose Qualifications do not meet this requirement tries to preview the HIT. That is, a Worker's Qualifications must meet all of the requirements for which RequiredToPreview is true in order to preview the HIT. If a Worker meets all of the requirements where RequiredToPreview is true (or if there are no such requirements), but does not meet all of the requirements for the HIT, the Worker will be allowed to preview the HIT's question data, but will not be allowed to accept and complete the HIT. The default is false. This should not be used in combination with the <code>ActionsGuarded</code> field. ",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "QualificationTypeId",
                                                            "Comparator"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Question": {
                                                    "description": " The data the Worker completing the HIT uses produce the results. This is either either a QuestionForm, HTMLQuestion or an ExternalQuestion data structure.",
                                                    "type": "string"
                                                },
                                                "RequesterAnnotation": {
                                                    "description": " An arbitrary data field the Requester who created the HIT can use. This field is visible only to the creator of the HIT.",
                                                    "type": "string"
                                                },
                                                "Reward": {
                                                    "description": "A string representing a currency amount.",
                                                    "pattern": "^[0-9]+(\\.)?[0-9]{0,2}$",
                                                    "type": "string"
                                                },
                                                "Title": {
                                                    "description": " The title of the HIT.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AssignmentDurationInSeconds": {
                                        "description": " The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. ",
                                        "type": "integer"
                                    },
                                    "AssignmentReviewPolicy": {
                                        "description": " The Assignment-level Review Policy applies to the assignments under the HIT. You can specify for Mechanical Turk to take various actions based on the policy. ",
                                        "properties": {
                                            "Parameters": {
                                                "description": "Name of the parameter from the Review policy.",
                                                "items": {
                                                    "description": " Name of the parameter from the Review policy. ",
                                                    "properties": {
                                                        "Key": {
                                                            "description": " Name of the parameter from the list of Review Polices. ",
                                                            "type": "string"
                                                        },
                                                        "MapEntries": {
                                                            "description": " List of ParameterMapEntry objects. ",
                                                            "items": {
                                                                "description": " This data structure is the data type for the AnswerKey parameter of the ScoreMyKnownAnswers/2011-09-01 Review Policy. ",
                                                                "properties": {
                                                                    "Key": {
                                                                        "description": " The QuestionID from the HIT that is used to identify which question requires Mechanical Turk to score as part of the ScoreMyKnownAnswers/2011-09-01 Review Policy. ",
                                                                        "type": "string"
                                                                    },
                                                                    "Values": {
                                                                        "description": " The list of answers to the question specified in the MapEntry Key element. The Worker must match all values in order for the answer to be scored correctly. ",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Values": {
                                                            "description": " The list of values of the Parameter",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "PolicyName": {
                                                "description": " Name of a Review Policy: SimplePlurality/2011-09-01 or ScoreMyKnownAnswers/2011-09-01 ",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "PolicyName"
                                        ],
                                        "type": "object"
                                    },
                                    "AutoApprovalDelayInSeconds": {
                                        "description": " The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. ",
                                        "type": "integer"
                                    },
                                    "Description": {
                                        "description": " A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. ",
                                        "type": "string"
                                    },
                                    "HITLayoutId": {
                                        "description": "<p> The HITLayoutId allows you to use a pre-existing HIT design with placeholder values and create an additional HIT by providing those values as HITLayoutParameters. </p> <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be provided. </p>",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[A-Z0-9]+$",
                                        "type": "string"
                                    },
                                    "HITLayoutParameters": {
                                        "description": " If the HITLayoutId is provided, any placeholder values must be filled in with values using the HITLayoutParameter structure. For more information, see HITLayout. ",
                                        "items": {
                                            "description": " The HITLayoutParameter data structure defines parameter values used with a HITLayout. A HITLayout is a reusable Amazon Mechanical Turk project template used to provide Human Intelligence Task (HIT) question data for CreateHIT. ",
                                            "properties": {
                                                "Name": {
                                                    "description": " The name of the parameter in the HITLayout. ",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value substituted for the parameter referenced in the HITLayout. ",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Name",
                                                "Value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "HITReviewPolicy": {
                                        "description": " The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk to take various actions based on the policy. ",
                                        "properties": {
                                            "Parameters": {
                                                "description": "Name of the parameter from the Review policy.",
                                                "items": {
                                                    "description": " Name of the parameter from the Review policy. ",
                                                    "properties": {
                                                        "Key": {
                                                            "description": " Name of the parameter from the list of Review Polices. ",
                                                            "type": "string"
                                                        },
                                                        "MapEntries": {
                                                            "description": " List of ParameterMapEntry objects. ",
                                                            "items": {
                                                                "description": " This data structure is the data type for the AnswerKey parameter of the ScoreMyKnownAnswers/2011-09-01 Review Policy. ",
                                                                "properties": {
                                                                    "Key": {
                                                                        "description": " The QuestionID from the HIT that is used to identify which question requires Mechanical Turk to score as part of the ScoreMyKnownAnswers/2011-09-01 Review Policy. ",
                                                                        "type": "string"
                                                                    },
                                                                    "Values": {
                                                                        "description": " The list of answers to the question specified in the MapEntry Key element. The Worker must match all values in order for the answer to be scored correctly. ",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Values": {
                                                            "description": " The list of values of the Parameter",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "PolicyName": {
                                                "description": " Name of a Review Policy: SimplePlurality/2011-09-01 or ScoreMyKnownAnswers/2011-09-01 ",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "PolicyName"
                                        ],
                                        "type": "object"
                                    },
                                    "Keywords": {
                                        "description": " One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. ",
                                        "type": "string"
                                    },
                                    "LifetimeInSeconds": {
                                        "description": " An amount of time, in seconds, after which the HIT is no longer available for users to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches, even if not all of the assignments for the HIT have been accepted. ",
                                        "type": "integer"
                                    },
                                    "MaxAssignments": {
                                        "description": " The number of times the HIT can be accepted and completed before the HIT becomes unavailable. ",
                                        "type": "integer"
                                    },
                                    "QualificationRequirements": {
                                        "description": " Conditions that a Worker's Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met in order for a Worker to accept the HIT. Additionally, other actions can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code> structure. ",
                                        "items": {
                                            "description": " The QualificationRequirement data structure describes a Qualification that a Worker must have before the Worker is allowed to accept a HIT. A requirement may optionally state that a Worker must have the Qualification in order to preview the HIT, or see the HIT in search results. ",
                                            "properties": {
                                                "ActionsGuarded": {
                                                    "description": " Setting this attribute prevents Workers whose Qualifications do not meet this QualificationRequirement from taking the specified action. Valid arguments include \"Accept\" (Worker cannot accept the HIT, but can preview the HIT and see it in their search results), \"PreviewAndAccept\" (Worker cannot accept or preview the HIT, but can see the HIT in their search results), and \"DiscoverPreviewAndAccept\" (Worker cannot accept, preview, or see the HIT in their search results). It's possible for you to create a HIT with multiple QualificationRequirements (which can have different values for the ActionGuarded attribute). In this case, the Worker is only permitted to perform an action when they have met all QualificationRequirements guarding the action. The actions in the order of least restrictive to most restrictive are Discover, Preview and Accept. For example, if a Worker meets all QualificationRequirements that are set to DiscoverPreviewAndAccept, but do not meet all requirements that are set with PreviewAndAccept, then the Worker will be able to Discover, i.e. see the HIT in their search result, but will not be able to Preview or Accept the HIT. ActionsGuarded should not be used in combination with the <code>RequiredToPreview</code> field. ",
                                                    "enum": [
                                                        "Accept",
                                                        "PreviewAndAccept",
                                                        "DiscoverPreviewAndAccept"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Comparator": {
                                                    "description": "The kind of comparison to make against a Qualification's value. You can compare a Qualification's value to an IntegerValue to see if it is LessThan, LessThanOrEqualTo, GreaterThan, GreaterThanOrEqualTo, EqualTo, or NotEqualTo the IntegerValue. You can compare it to a LocaleValue to see if it is EqualTo, or NotEqualTo the LocaleValue. You can check to see if the value is In or NotIn a set of IntegerValue or LocaleValue values. Lastly, a Qualification requirement can also test if a Qualification Exists or DoesNotExist in the user's profile, regardless of its value. ",
                                                    "enum": [
                                                        "LessThan",
                                                        "LessThanOrEqualTo",
                                                        "GreaterThan",
                                                        "GreaterThanOrEqualTo",
                                                        "EqualTo",
                                                        "NotEqualTo",
                                                        "Exists",
                                                        "DoesNotExist",
                                                        "In",
                                                        "NotIn"
                                                    ],
                                                    "type": "string"
                                                },
                                                "IntegerValues": {
                                                    "description": " The integer value to compare against the Qualification's value. IntegerValue must not be present if Comparator is Exists or DoesNotExist. IntegerValue can only be used if the Qualification type has an integer value; it cannot be used with the Worker_Locale QualificationType ID. When performing a set comparison by using the In or the NotIn comparator, you can use up to 15 IntegerValue elements in a QualificationRequirement data structure. ",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "type": "array"
                                                },
                                                "LocaleValues": {
                                                    "description": " The locale value to compare against the Qualification's value. The local value must be a valid ISO 3166 country code or supports ISO 3166-2 subdivisions. LocaleValue can only be used with a Worker_Locale QualificationType ID. LocaleValue can only be used with the EqualTo, NotEqualTo, In, and NotIn comparators. You must only use a single LocaleValue element when using the EqualTo or NotEqualTo comparators. When performing a set comparison by using the In or the NotIn comparator, you can use up to 30 LocaleValue elements in a QualificationRequirement data structure. ",
                                                    "items": {
                                                        "description": "The Locale data structure represents a geographical region or location.",
                                                        "properties": {
                                                            "Country": {
                                                                "description": " The country of the locale. Must be a valid ISO 3166 country code. For example, the code US refers to the United States of America. ",
                                                                "maxLength": 2,
                                                                "minLength": 2,
                                                                "type": "string"
                                                            },
                                                            "Subdivision": {
                                                                "description": "The state or subdivision of the locale. A valid ISO 3166-2 subdivision code. For example, the code WA refers to the state of Washington.",
                                                                "maxLength": 2,
                                                                "minLength": 2,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Country"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "QualificationTypeId": {
                                                    "description": " The ID of the Qualification type for the requirement.",
                                                    "type": "string"
                                                },
                                                "RequiredToPreview": {
                                                    "description": " DEPRECATED: Use the <code>ActionsGuarded</code> field instead. If RequiredToPreview is true, the question data for the HIT will not be shown when a Worker whose Qualifications do not meet this requirement tries to preview the HIT. That is, a Worker's Qualifications must meet all of the requirements for which RequiredToPreview is true in order to preview the HIT. If a Worker meets all of the requirements where RequiredToPreview is true (or if there are no such requirements), but does not meet all of the requirements for the HIT, the Worker will be allowed to preview the HIT's question data, but will not be allowed to accept and complete the HIT. The default is false. This should not be used in combination with the <code>ActionsGuarded</code> field. ",
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "QualificationTypeId",
                                                "Comparator"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Question": {
                                        "description": "<p> The data the person completing the HIT uses to produce the results. </p> <p> Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure, or an HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>",
                                        "type": "string"
                                    },
                                    "RequesterAnnotation": {
                                        "description": "<p> An arbitrary data field. The RequesterAnnotation parameter lets your application attach arbitrary data to the HIT for tracking purposes. For example, this parameter could be an identifier internal to the Requester's application that corresponds with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT. It is not shown to the Worker, or any other Requester. </p> <p> The RequesterAnnotation parameter may be different for each HIT you submit. It does not affect how your HITs are grouped. </p>",
                                        "type": "string"
                                    },
                                    "Reward": {
                                        "description": " The amount of money the Requester will pay a Worker for successfully completing the HIT. ",
                                        "pattern": "^[0-9]+(\\.)?[0-9]{0,2}$",
                                        "type": "string"
                                    },
                                    "Title": {
                                        "description": " The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears in search results, and everywhere the HIT is mentioned. ",
                                        "type": "string"
                                    },
                                    "UniqueRequestToken": {
                                        "description": "<p> A unique identifier for this request which allows you to retry the call on error without creating duplicate HITs. This is useful in cases such as network timeouts where it is unclear whether or not the call succeeded on the server. If the HIT already exists in the system from a previous call using the same UniqueRequestToken, subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a message containing the HITId. </p> <note> <p> Note: It is your responsibility to ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent calls using the same UniqueRequestToken made after the 24 hour limit could create duplicate HITs. </p> </note>",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "LifetimeInSeconds",
                                    "AssignmentDurationInSeconds",
                                    "Reward",
                                    "Title",
                                    "Description"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateHITType": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " The <code>CreateHITType</code> operation creates a new HIT type. This operation allows you to define a standard set of HIT properties to use when creating HITs. If you register a HIT type with values that match an existing HIT type, the HIT type ID of the existing type will be returned. ",
                "operationId": "CreateHITType",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "HITTypeId": {
                                            "description": " The ID of the newly registered HIT type.",
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "pattern": "^[A-Z0-9]+$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceFault",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Amazon Mechanical Turk is temporarily unable to process your request. Try your call again.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Your request is invalid.",
                                    "properties": {
                                        "Message": {
                                            "type": "string"
                                        },
                                        "TurkErrorCode": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AssignmentDurationInSeconds": {
                                        "description": " The amount of time, in seconds, that a Worker has to complete the HIT after accepting it. If a Worker does not complete the assignment within the specified duration, the assignment is considered abandoned. If the HIT is still active (that is, its lifetime has not elapsed), the assignment becomes available for other users to find and accept. ",
                                        "type": "integer"
                                    },
                                    "AutoApprovalDelayInSeconds": {
                                        "description": " The number of seconds after an assignment for the HIT has been submitted, after which the assignment is considered Approved automatically unless the Requester explicitly rejects it. ",
                                        "type": "integer"
                                    },
                                    "Description": {
                                        "description": " A general description of the HIT. A description includes detailed information about the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded view of search results, and in the HIT and assignment screens. A good description gives the user enough information to evaluate the HIT before accepting it. ",
                                        "type": "string"
                                    },
                                    "Keywords": {
                                        "description": " One or more words or phrases that describe the HIT, separated by commas. These words are used in searches to find HITs. ",
                                        "type": "string"
                                    },
                                    "QualificationRequirements": {
                                        "description": " Conditions that a Worker's Qualifications must meet in order to accept the HIT. A HIT can have between zero and ten Qualification requirements. All requirements must be met in order for a Worker to accept the HIT. Additionally, other actions can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code> structure. ",
                                        "items": {
                                            "description": " The QualificationRequirement data structure describes a Qualification that a Worker must have before the Worker is allowed to accept a HIT. A requirement may optionally state that a Worker must have the Qualification in order to preview the HIT, or see the HIT in search results. ",
                                            "properties": {
                                                "ActionsGuarded": {
                                                    "description": " Setting this attribute prevents Workers whose Qualifications do not meet this QualificationRequirement from taking the specified action. Valid arguments include \"Accept\" (Worker cannot accept the HIT, but can preview the HIT and see it in their search results), \"PreviewAndAccept\" (Worker cannot accept or preview the HIT, but can see the HIT in their search results), and \"DiscoverPreviewAndAccept\" (Worker cannot accept, preview, or see the HIT in their search results). It's possible for you to create a HIT with multiple QualificationRequirements (which can have different values for the ActionGuarded attribute). In this case, the Worker is only permitted to perform an action when they have met all QualificationRequirements guarding the action. The actions in the order of least restrictive to most restrictive are Discover, Preview and Accept. For example, if a Worker meets all QualificationRequirements that are set to DiscoverPreviewAndAccept, but do not meet all requirements that are set with PreviewAndAccept, then the Worker will be able to Discover, i.e. see the HIT in their search result, but will not be able to Preview or Accept the HIT. ActionsGuarded should not be used in combination with the <code>RequiredToPreview</code> field. ",
                                                    "enum": [
                                                        "Accept",
                                                        "PreviewAndAccept",
                                                        "DiscoverPreviewAndAccept"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Comparator": {
                                                    "description": "The kind of comparison to make against a Qualification's value. You can compare a Qualification's value to an IntegerValue to see if it is LessThan, LessThanOrEqualTo, GreaterThan, GreaterThanOrEqualTo, EqualTo, or NotEqualTo the IntegerValue. You can compare it to a LocaleValue to see if it is EqualTo, or NotEqualTo the LocaleValue. You can check to see if the value is In or NotIn a set of IntegerValue or LocaleValue values. Lastly, a Qualification requirement can also test if a Qualification Exists or DoesNotExist in the user's profile, regardless of its value. ",
                                                    "enum": [
                                                        "LessThan",
                                                        "LessThanOrEqualTo",
                                                        "GreaterThan",
                                                        "GreaterThanOrEqualTo",
                                                        "EqualTo",
                                                        "NotEqualTo",
                                                        "Exists",
                                                        "DoesNotExist",
                                                        "In",
                                                        "NotIn"
                                                    ],
                                                    "type": "string"
                                                },
                                                "IntegerValues": {
                                                    "description": " The integer value to compare against the Qualification's value. IntegerValue must not be present if Comparator is Exists or DoesNotExist. IntegerValue can only be used if the Qualification type has an integer value; it cannot be used with the Worker_Locale QualificationType ID. When performing a set comparison by using the In or the NotIn comparator, you can use up to 15 IntegerValue elements in a QualificationRequirement data structure. ",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "type": "array"
                                                },
                                                "LocaleValues": {
                                                    "description": " The locale value to compare against the Qualification's value. The local value must be a valid ISO 3166 country code or supports ISO 3166-2 subdivisions. LocaleValue can only be used with a Worker_Locale QualificationType ID. LocaleValue can only be used with the EqualTo, NotEqualTo, In, and NotIn comparators. You must only use a single LocaleValue element when using the EqualTo or NotEqualTo comparators. When performing a set comparison by using the In or the NotIn comparator, you can use up to 30 LocaleValue elements in a QualificationRequirement data structure. ",
                                                    "items": {
                                                        "description": "The Locale data structure represents a geographical region or location.",
                                                        "properties": {
[...]
